@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
h1 {
  color: red;
}

.section {
  width: 100%;
}
.section list {
  padding: 20px;
}
.section list li {
  float: left;
}

.btn {
  background-color: red;
}
.btn:hover {
  background-color: salmon;
}
.btn.active {
  background-color: bisque;
}