@charset "UTF-8";
/* 변수 연습 */
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
h1 {
  color: red;
}

/* 중첩문 연습 */
.section {
  width: 100%;
}
.section list {
  padding: 20px;
}
.section list li {
  float: left;
}

/* & 키워드 연습 */
.btn {
  background-color: red;
}
.btn:hover {
  background-color: salmon;
}
.btn.active {
  background-color: bisque;
}

/* mixin, inclue 연습 */
.li {
  font-size: 16pt;
  font-weight: bold;
  color: red;
}
.li:hover {
  color: salmon;
}

/* 함수 연습 */
.div2 {
  width: 400px;
}

/* if 연습 */
.div3 {
  width: 200px;
}

.no {
  font-size: 20pt;
  font-weight: bold;
  color: red;
}

.yes {
  font-size: 20pt;
  font-weight: bold;
  color: green;
}

.anything {
  font-size: 20pt;
  font-weight: bold;
  color: blue;
}