$family: unquote("Droid+Sans");
@import url("http://fonts.googleapis.com/css?family=#{$family}");
$color : red;

h1{
    color : $color;
}

.section {
    width: 100%;
    list {
      padding: 20px;
      li {
        float: left;
      }
    }
}

.btn{
    background-color : $color;

    &:hover{
        background-color: salmon;
    }

    &.active{
        background-color: bisque;
    }
}

@mixin text{
    font: {
        size : 16pt;
        weight : bold;
    }

    color : $color;

    &:hover{
        color: salmon;
    }
}

.li{
    @include text;
}