/* 변수 연습 */
$family: unquote("Droid+Sans");
@import url("http://fonts.googleapis.com/css?family=#{$family}");
$color : red;

h1{
    color : $color;
}

/* 중첩문 연습 */
.section {
    width: 100%;
    list {
      padding: 20px;
      li {
        float: left;
      }
    }
}

/* & 키워드 연습 */
.btn{
    background-color : $color;

    &:hover{
        background-color: salmon;
    }

    &.active{
        background-color: bisque;
    }
}

/* mixin, inclue 연습 */
@mixin text{
    font: {
        size : 16pt;
        weight : bold;
    }

    color : $color;

    &:hover{
        color: salmon;
    }
}

.li{
    @include text;
}

/* 함수 연습 */
@function myfunc($var1, $var2){
    @return $var1 * $var2;
}

.div2 {
    width : 0px + myfunc(20,20);
}

/* if 연습 */
$w : 200px;

.div3{
    width : if($w > 100px, 200px, null);
}